pandas
numpy
scikit-learn==1.7.2
imbalanced-learn
xgboost
--extra-index-url https://download.pytorch.org/whl/cpu
statsmodels
matplotlib
seaborn
joblib
mlflow
fastapi
uvicorn
streamlit
shap
pytest
shap